.project
.classpath
.settings/org.eclipse.m2e.core.prefs
dao-api/.settings/org.eclipse.m2e.core.prefs
dao-api/.settings/org.eclipse.jdt.core.prefs
dao-api/.classpath
dao-api/.settings/org.eclipse.core.resources.prefs
dao-api/.settings/org.eclipse.wst.common.component
dao-api/.settings/org.eclipse.wst.common.project.facet.core.xml
dao-jdbc-impl/.settings/org.eclipse.core.resources.prefs
dao-jdbc-impl/.settings/org.eclipse.jdt.core.prefs
dao-jdbc-impl/.settings/org.eclipse.m2e.core.prefs
dao-jdbc-impl/.settings/org.eclipse.wst.common.component
dao-jdbc-impl/.settings/org.eclipse.wst.common.project.facet.core.xml
service/.settings/org.eclipse.core.resources.prefs
service/.settings/org.eclipse.jdt.core.prefs
service/.settings/org.eclipse.m2e.core.prefs
service/.settings/org.eclipse.wst.common.component
service/.settings/org.eclipse.wst.common.project.facet.core.xml
web/.settings/.jsdtscope
web/.settings/org.eclipse.core.resources.prefs
web/.settings/org.eclipse.jdt.core.prefs
web/.settings/org.eclipse.m2e.core.prefs
web/.settings/org.eclipse.wst.common.component
web/.settings/org.eclipse.wst.common.project.facet.core.xml
web/.settings/org.eclipse.wst.jsdt.ui.superType.container
web/.settings/org.eclipse.wst.jsdt.ui.superType.name
web/.settings/org.eclipse.wst.validation.prefs
