body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.input-field label.multiselect-label, .input-field label.switch-label {
	position: absolute;
	top: -26px;
	font-size: .8rem;
}

.switch label input[type=checkbox]:checked ~.lever {
	background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.switch label input[type=checkbox]:checked ~.lever:after {
	background-color: #26a69a;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.chessboard {
	width: 640px;
	height: 640px;
	margin: 20px;
	border: 25px solid #333;
}

.black {
	float: left;
	width: 80px;
	height: 80px;
	background-color: #999;
	font-size: 50px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.white {
	float: left;
	width: 80px;
	height: 80px;
	background-color: #fff;
	font-size: 50px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}